*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 30px;
}

h2{
  padding: 30px 0;
  font-size: 2rem;
}

h3{
  padding: 20px 0;
  font-size: 1.2rem;
}

h4{
  padding: 30px 0;
  text-transform: uppercase;
  font-weight: lighter;
}

a{
  text-decoration: none;
}

a:visited{
  text-decoration: none;
  color: inherit;
  }

ul{
  list-style: none;
}

img {
  max-width: 100%;
}

button{
  color: white;
  padding: 8px 10px;
  font-size: 1rem;
  border-radius: 40px;
  text-decoration: none;
  border: none;
}

button i{
  padding-right: 10px;
}

.container{
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
}
.flex{
  display: flex;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.col {
  margin: 25px;
}

.demo .col, .planning .col, .testimonials .col, .benefits .col, .about-us .col {
  width: 80%;
}

.card{
  border-radius: 30px;
  padding: 30px 0;
}

/* TEXT */

.text-center {
  text-align: center;
}

/* HEADER */

header{
  width: 100%;
  height: 74px;
  background-color: #0084FD;
  /* display: flex; */
}

header .menu{
  align-items: flex-end;
  display: none;
}

header .menu ul{
  list-style: none;
  display: flex;
}

header .menu ul li{
  margin: 0 15px;
}

header img{
  padding: 10px 30px;
}

/* DEMO SECTION */

.demo .col img {
  align-items: center;
  /* justify-content: end;
  position: relative;
  bottom: 0; */
}

.demo .card{
  background-color: #B5DDFF;
}

.demo .col:first-child .card{
  padding-bottom: 0;
}

.demo .row .col:first-child p{
  text-align: left;
}

.demo h3{
  color: #007DFC;
}

.demo p{
  color: #546776;
}

.demo button{
  background-color: #007DFC;
  margin: 30px;
}

.demo .card i{
  font-size: 4rem;
  color: #007DFC;
}

.demo .card a i{
  font-size: 1rem;
  color: white;
}

/* .demo .col:last-child{
  margin-bottom: 80px;
} */

/* PLANNING SECTION */

.planning{
  background-color: #9692E4;
  color: white;
  font-weight: normal;
  text-align: left;
}

.planning img{
  height: 70%;
}

.planning .card.second{
  background-color: white;
  color: black;
}

.planning .card.second p{
  font-style: italic;
  font-weight: lighter;
  margin-bottom: 25px;
}

.planning .card.second button{
  background-color: #9692E4;
  color: black;
  padding: 15px 20px;
  border-radius: 50%;
}

.planning .card.second button i{
padding: 0
}

/* TESTIMONIALS SECTION */

.testimonials h2{
 color: #9692E4;
 margin: 0;
 padding-top: 0;
}

.testimonials h4{
  font-weight: bold;
  padding-bottom: 20px;
}

.testimonials p, q{
  font-weight: lighter;
}

.testimonials .card.colored{
  background-color: #9692E4;
  color: white;
}

.testimonials img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}

blockquote {
  border:none;
  margin-bottom:5px;
  margin-inline-start: 5px;
  margin-inline-end: 5px;
  }

blockquote p:before { 
  content: open-quote;
  font-weight: bold;
  font-size:30px;
  color:white;
} 
blockquote p:after { 
  content: close-quote;
  font-weight: bold;
  font-size:30px;
  color:white;
}

/* BENEFITS SECTION */

.benefits h2{
  color: white;
  padding: 60px;
}

.benefits .container{
  background-color: #9692E4;
}

.benefits .card{
  background-color: white;
  color: #9692E4;
  text-align: left;
  padding: 30px;
}

.benefits .number{
  color: #9692E4;
  font-size: 3rem;
  padding: 0;
}

.benefits p{
  color: #546776;
  font-weight: lighter;
}

.benefits button{
  background-color: #9692E4;
  margin-top: 30px;
  font-weight: bold;
}

/* ABOUT US SECTION */

.about-us h2{
  color: #9692E4;
  font-size: 2.5rem;
}


.about-us p{
  font-weight: normal;
  line-height: 2.5rem;
  padding: 10px 0;
}

.about-us img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}

.about-us h3{
  color: #9692E4;
  font-size: 1.5rem;
}

.about-us button{
  background-color: #9692E4;
  font-size: 0.8rem;
}

/* RESPONSIVE */

@media screen and (min-width: 481px) and (max-width:780px){
  /* body{
    width: 100%;
    overflow-x:hidden
  }
   */
  .container {
    max-width: 780px;
    width: 100%;
    margin: 0 auto;
  }

  .planning .col, .testimonials .col, .benefits .col, .about-us .col {
    width: 80%;
  }

  .demo .row{
    flex-direction: row;
    padding: 0 auto;
  }

  .demo .col{
    padding-top: 30px;
  }

  .col.one{
    width: calc(100vw / 3 * 2);
    text-align: left;
  }

  .card.one img{
    width: 100%;
  }

  .col.two{
    width: calc(100vw / 3);
    height: 570px;
  }

  .col.bottom{
    width: calc(100vw / 3);
    margin: 10px;
  }

  .planning .container{
    flex-direction: column;
  }

  .testimonials .card{
    display: flex;
  }

  .testimonials .card p{
    width: 100%;
  }

  .testimonials .card h4{
    display: inline-block;
  }

  /* .benefits .container{
    display: flex;
  } */

  .benefits .col{
    max-width: calc(100vw / 2);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
  }

  .about-us .container{
    margin: 0 50px;
  }

  .about-us .row{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .about-us .col{
    margin: 25px;
  }

  .about-us .col:first-child{
    width: calc(100vw / 2);
  }

  .about-us .col:last-child{
    width: calc(100vw / 3);
  }

}