*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
background-color: white;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

img {
  max-width: 100%;
}

.container{
  width: 480px;
  margin: 0 auto;
  background-color: lightblue;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}

.col {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 30px;
}

.text-center {
  text-align: center;
}

header{
  width: 100%;
  height: 74px;
  background-color: #0084FD;
  /* display: flex; */
}

header .menu{
  align-items: flex-end;
  display: none;
}

header .menu ul{
  list-style: none;
  display: flex;
}

header .menu ul li{
  margin: 0 15px;
}

header img{
  padding: 10px 30px;
}

.demo .col img {
  height: 270px;
  margin-bottom: 1rem;
}
